<div class="container">
  <div class="row">

    <div class="col-xl-6 col-lg-6 col-12">
      <div class="card">
        <div class="card-header text-center bg-success text-white">
          Create Account
        </div>

        <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">

          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" ngModel>
          </div>

          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="lastname" ngModel>
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel>
          </div>

          <div class="form-group">
            <label for="email">Email-ID</label>
            <input type="email" class="form-control" id="email" name="email" ngModel>
          </div>

          <!-- <div class="form-group">
                  <label for="password">Enter Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div> -->

          <!-- <div class="form-group">
                  <label for="confirmpassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmpassword" ngModel #cpassword>
                </div> -->

          <button type="submit" class="btn btn-primary w-100">Submit</button>
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="card">
        <div class="card-header bg-success text-white text-center">
          Account List
        </div>
        <p class=" m-3 text-danger">Length : 0</p>
        <div class="form-group d-flex px-3">
          <input type="text" placeholder="search..." class="form-control">
          <button class="btn btn-success ml-2">Search</button>
        </div>
        <div class="card-body shadow screenHeight">
          <ng-container>
            <div class="d-flex justify-content-between mb-2">
              <h5 class="card-text">Title</h5>
              <div class="d-flex justify-content-around">
                <button class="btn btn-warning space">Edit</button>
                <button class="btn btn-success space">Update</button>
                <button class="btn btn-danger space">Delete</button>
              </div>
            </div>
          </ng-container>

        </div>
      </div>

    </div>
  </div>

</div>